<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myspace</title>
</head>
<body>
<h3>congratulations!<em style="color:red"><%= user.username %></em>，Login Success！</h3>
my space
</body>
</html>